.statics.main {
  background: image-url('restaurantblurred.jpg');

  h2 {
    color: white;
    padding: 30px;
    margin: 0px;
  }

  .collapsible-header {
    height: 50px;
  }

  #listTitle {
    font-weight: bold;
  }

}