<h2 id="currentUserLists" class="center">My Lists</h2>

<div id="createList">
  <a href="/user/lists/new" class="waves-effect waves-light btn-large" id="createNewListButton">Create New List </a>
</div>

<div class="container">
  <div class="row" id="mylists-index">
  </div>

</div>

