      <div class="container">
  <%= render 'statics/auth/signup' %>

        <div class="section col s12">
          <ul class="collapsible deep-purple darken-3" data-collapsible="accordion">
            <li>
              <div class="collapsible-header deep-purple darken-3 white-text"><p><h5>Akira's List-o-Chickens</h5></p></div> <!-- pink lighten-4 -->
              <div class="collapsible-body deep-purple lighten-1 white-text"><p>Lorem ipsum dolor sit amet.</p></div> <!-- cyan lighten-4 -->
            </li>
          </ul>
        </div>
        <div class="section col s12">
          <ul class="collapsible deep-purple darken-3" data-collapsible="accordion">
            <li>
              <div class="collapsible-header deep-purple darken-3 white-text"><p><h5>Rob's Raging Cajun List</h5></p></div>
              <div class="collapsible-body deep-purple lighten-1 white-text"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
          </ul>
        </div>

      </div>