$('.statics.main').ready(function(){
	console.log('main')

	var getLists = function () {
		$.ajax({
			url: '/api/lists',
			method: 'get',
			success: function (lists) {
				$('#lists-index').html('');

				lists.forEach(function (list) {

					var restaurants = "";

					for(var i = 0; i < list.list_restaurants.length; i++) {
						restaurants += '<li>' + '<input type="checkbox" class="filled-in" id="filled-in-box" checked="" /><label for="filled-in-box">' + list.list_restaurants[i] + '</label>' + '</li>';
				  }

					var	html =
										'<div class="col s6">' +
											'<ul class="collapsible" data-collapsible="accordion">' +
												'<li>' +
													'<div class="collapsible-header green lighten-5">' +
														'<div class="col s11">' + '<h6>' + '<span id="listTitle">' + list.title + '</span>' + ' ' + 'by' + ' ' + list.user_name + '</h6>' +
														'</div>' +
														'<div class="col s1">' + '<i class="fa fa-star" id="bookmark-star" data-favourite="no" aria-hidden="true"></i>' + '</div>' +
													'</div>' +
													'<div class="collapsible-body white">' +
														'<form action="#">' +
															'<p>' + list.description + '<ul>' + restaurants + '</ul>'
			                				'<p>' +
			                			'</form>' +
	                				'</div>' +
	              				'</li>' +
	              			'</ul>' +
	              		'</div>';
          $('#lists-index').append(html);
        });
				$(".collapsible").collapsible({
      		accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    		});
      }, error: function (resp) {
        console.log(resp);
      }
		});
  };

  var createBookmark = function (params) {
		$.ajax({
        url: '/api/user/bookmarks',
        method: 'post',
        data: params,

        success: function (bookmark) {
        	console.log('bookmarked');
        },

        error: function (resp) {
          console.log(resp);
        }
    });
  };

	var bookmarkStarButton = function (params) {
    $('#bookmark-star').on('click', function(e) {
			e.preventDefault();
    	createBookmark(params);
		});
  };


	var signInModal = function() {
		// Able to open modal.

		$('.modal-trigger').leanModal();
		// Signup Modal

		$('#signupModalOpen').on('click', function(e) {
			$('#signin').closeModal();
			$('#signup').openModal();
			e.preventDefault();
		});

		// Register button click event
		$('#registerButton').on('click', function(e) {
			$('#signup').closeModal();
			e.preventDefault();
		});

		// Login button click event
		$('#loginButton').on('click', function(e) {
			$('#signin').closeModal();
			e.preventDefault();
		});
	};

	var init = function () {
		signInModal();
		getLists();
		bookmarkStarButton();
	};


	init();

});
